<div class="mt-50">
    <mat-card class="profile-card" *ngIf="speaker">
        <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{speaker.name.first + ' ' + speaker.name.last }}</mat-card-title>
            <mat-card-subtitle>Email: {{speaker.email}}</mat-card-subtitle>
            <mat-card-subtitle>Age: {{speaker.dob.age}}</mat-card-subtitle>
            <mat-card-subtitle>Gender: {{speaker.gender}}</mat-card-subtitle>
            <mat-card-subtitle>Phone: {{speaker.phone}}</mat-card-subtitle>
            <mat-card-subtitle>Address: {{speaker.location.street.number + ', ' + speaker.location.street.name + ', ' + speaker.location.city + ', ' + speaker.location.postcode + ', ' + speaker.location.state}}</mat-card-subtitle>
            <img mat-card-lg-image [src]="speaker.picture.large" >
        </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
</div>