<div class="mt-50">
    <mat-card class="profile-card" *ngIf="speaker">
        <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{speaker.name}}</mat-card-title>
            <mat-card-subtitle>{{speaker.email}}</mat-card-subtitle>
            <mat-card-subtitle>{{speaker.gender}}</mat-card-subtitle>
            <mat-card-subtitle>{{speaker.phone}}</mat-card-subtitle>
            <img mat-card-lg-image [src]="speaker.picture" >
        </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <!-- <div>
                <div>{{speaker.phone}}</div>
                <div>{{speaker.phone}}</div>
            </div>
            <div>{{speaker.phone}}</div>
            <div>{{speaker.phone}}</div> -->
        </mat-card-content>
    </mat-card>
</div>